@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@font-face{
    font-family: 'Amsterdam';
    src:url('https://www.fontspace.com/amsterdam-font-f29770')
}
*{
    box-sizing:border-box;
    margin:0px;
    text-align:center;
}

main {
    width: 90%;
}


h1, h2, h3{
    font-family: "poppins",sans-serif;
}

h1 {
    font-size: 38px;
    color: blue;
}


.header {
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    padding: 20px;
    background: white;
    display:flex;
    justify-content: space-between;
    align-items:center;
    z-index: 100;
}
/* ------ The Navigation Code ------*/
.navbar a {
    position:relative;
    font-size: 22px;
    color:#333;
    font-weight: 500;
    text-decoration:none;
    margin-left: 40px;
}
.navbar a::before {
    content: '';
    position: absolute;
    top:100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color:skyblue;
    transition: 0.3s;
}
.navbar a:hover::before {
    width: 100%;
}
.navbar a:active {
    color:skyblue;
    transition: 0.3s all ease-in;
}
/* ------ main content ------*/
body {
    margin: 20px;
    display:flex;
    justify-content: center;
}
/* ------ holds the content ------*/
.container {
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
}

/* ------ Project Containers ------ */
.inner-container8, .inner-container9 {
    width: 50%;
    font-size: 30px; 
    height: auto;
    margin: 0px 20px;
} 
.inner-container8 p, .inner-container9 p{
    font-size: 30px;
}
/* ------ Projects ------ */
.projects {
    margin-top: 150px;
    margin-bottom: 150px;
    padding-left: 20px;
    flex-wrap:wrap;
}
.project-links {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
}
.github-icon {
    border-radius: 30%;  
}
/* ------ picture of project created ------*/
.preview {
    margin: 0px 20px;
}
.preview img {
    width: 100%;
}

/* ------ Button formatting ------ */
.button {
    background-color:#003594;
    color:whitesmoke;
    font-size: 24px;
    padding: 15px 50px;
    border-radius: 8px;
    text-align:center;
    display:inline-block;
    margin: 20px 10px;
    text-decoration:none;
}

.button:hover {
    transition: all 0.5s;
   padding: 15px 65px;
}


.button.live-preview {
    background-color:rgb(0, 172, 240);
    color:whitesmoke;
}

